{% extends 'common.html' %}

{% block content %}
<html>
<body>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <table border="0" align="center">
          <tr>
            <th><h3>Registration Page</h3></th>
        </tr>
        <tr>
            <td>
                <input
                        type="text"
                        placeholder="Name"
                        name="name"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
            </td>
        </tr>
        <tr>
            <td>
                <input
                        type="number"
                        placeholder="Contact"
                        name="contact"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
            </td>
        </tr>

        <tr>
            <td>
                <input
                        type="text"
                        placeholder="Location"
                        name="location"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
            </td>
        </tr>
        <tr>
            <td>
                <input
                        type="email"
                        placeholder="Email(Username)"
                        name="email"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
            </td>
        </tr>
    <tr>
        <td>
            <input
                        type="password"
                        placeholder="Password"
                        name="password"
                        required
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
        </td>
    </tr>
    <tr>
        <th>
            <button type="submit">Register</button>
        </th>
    </tr>
        <tr>
        <th>
          {% if message %}
             <div class="alert alert-danger" role="alert">
             {{ message }}
             </div>
              </th>
              </tr>
          {% endif %}
        </table>
    </form>
</body>
</html>
{% endblock %}